

  <main class="px-3">
  <div style="text-align:center">
    <p style="font-size: 5.5rem;">Welcome</p>
        <p style="font-size: 4.5rem;">My car application</p>
</div>
    <%=image_tag "car.png", style: 'height:auto;width:650px;'%> 

  </main>
