

  <main class="px-3">
    <h1>Welcome to my car application</h1>
    <p class="lead">
    <div class="row" style="padding-bottom:20px">
      <div class="col text-center ">
        <a href="car/new" class="btn btn-lg btn-secondary fw-bold border-white bg-white align-items-center  d-inline-flex">Add new car</a>
      </div>
      <div class="col text-center">
        <a href="driver/new" class="btn btn-lg btn-secondary fw-bold border-white bg-white align-items-center  d-inline-flex ">Add new driver</a>
      </div>
    </div>
    <div class="row"  style="padding-bottom:20px">
      <div class="col text-center">
        <a href="cars" class="btn btn-lg btn-secondary fw-bold border-white bg-white align-items-center  d-inline-flex">List of cars</a>
      </div>
      <div class="col text-center">
        <a href="drivers" class="btn btn-lg btn-secondary fw-bold border-white bg-white align-items-center  d-inline-flex">List of drivers</a>
      </div>
    </div>
    <div class="row">
      <div class="col text-center">
        <a href="driversandcars" class="btn btn-lg btn-secondary fw-bold border-white bg-white" style="width:250px">Connect car&driver</a>
</div></div>

    </p>
  </main>
