 <div class="row" style=    "padding-bottom: 20px;">
  <div class="col">
 <h3> choose car</h3>
 <select class="form-select cmbx_cars" aria-label="Default select example">
<option selected></option>

    <% @cars.each do |car| %>
  <option value="<%= car.id %>"><%= car.title %></option>
<% end %>
</select>
</div>
<div class="col text-center">
<button id="submitBtn" type="submit" class="btn btn-primary text-center" style="width:50%; margin-inline: auto;height:80px;">Connect</button>
</div>
  <div class="col">

<h3>choose driver</h3>
<select class="cmbx_drivers form-select" id="cmbx_drivers">
<option selected></option>
<% @drivers.each do |driver| %>
  <option value="<%= driver.id %>"><%= driver.name %></option>
<% end %>
</select>
</div>
</div>
<div class="row">
  <div class="col">

<table class="ResulsTableCar table table-striped" style="padding-top:20px;    min-height: 100px;">

</table>
</div>
  <div class="col">

<table class="ResulsTableDriver table table-striped" style="padding-top:20px;    min-height: 100px;">

</table>
</div>
</div>
<div class="submitResult">



</div>
<style>
.cover-container {
    max-width: 60em;
}
.inner{
  padding-left: 184px;

}
</style>
<script>
// $("#container").on('click-row.bs.table', function (e, row, $element) {
//     window.location = $element.data('href');
// });

jQuery(document).ready(function($) {
    $(".cmbx_cars").change(function() {
      $(".submitResult").html("")
  printTbleDriver();
    });

    $(".cmbx_drivers").change(function() {
      $(".submitResult").html("")
printTableCar();
    });
function printTbleDriver(){
      var optionValue =$(".cmbx_cars").val();
         if (optionValue) {
      $.ajax({
          type:    "POST",
          url:     "/driversandcars/select_car",
          data:    {optionValue: optionValue },
          success: function(data){
            var links=data.links 
            if(links.length!=0)
            {
                $(".ResulsTableCar").html("<tr><th>id</th><th>name</th><th>created_at</th></tr>")
                for (index = 0; index < links.length; index++) {
                    $(".ResulsTableCar tr:last").after("<tr><tr><td>" + links[index].driver_id + "</td> <td>" + data.drivers[index] +  "</td> <td>" +  links[index].created_at + "</td> </tr>");
                }
            }
            else 
            {
              $(".ResulsTableCar").html("No drivers connected to this car")
            }

          },
          error:   function(post){ console.log(this) }
        });
    }
}
function printTableCar()
{
        var optionValue =$(".cmbx_drivers").val();
         if (optionValue) {
      $.ajax({
          type:    "POST",
          url:     "/driversandcars/select_driver",
          data:    {optionValue: optionValue },
          success: function(data){
            var links=data.links 
            if(links.length!=0)
            {
                        $(".ResulsTableDriver").html("<tr><th>id</th><th>title</th><th>created_at</th></tr>")
                            for (index = 0; index < links.length; index++) {
        $(".ResulsTableDriver tr:last").after("<tr><td>" + links[index].car_id + "</td> <td>" + data.cars[index] +  "</td> <td>" +  links[index].created_at + "</td> </tr>");
    }
            }
            else{
              $(".ResulsTableDriver").html("No cars connected to this driver")

            }

          },
          error:   function(post){ console.log(this) }
        });
    }
}
    $("#submitBtn").click(function() {
 var car =$(".cmbx_cars").val();
  var driver =$(".cmbx_drivers").val();

         if (car&&driver) {
            $.ajax({
                type:    "POST",
                url:     "/driversandcars/submit",
                   data:    {car: car,driver:driver },
                success: function(data){ 

                   alert(data.text);   
                   printTableCar();  
                   printTbleDriver();             
                   },
                error:   function(post){ console.log(this) }
                });
         }
         else
         {
           alert("faild")
         }
    });
});
</script>