 <div class="row" style=    "padding-bottom: 20px;">
  <div class="col">
 <select class="form-select cmbx_cars" aria-label="Default select example">
<option selected>choose car</option>

    <% @cars.each do |car| %>
  <option value="<%= car.id %>"><%= car.title %></option>
<% end %>
</select>
</div>
  <div class="col">

<select class="cmbx_drivers form-select" id="cmbx_drivers">
<option selected>choose driver</option>
<% @drivers.each do |driver| %>
  <option value="<%= driver.id %>"><%= driver.name %></option>
<% end %>
</select>
</div>
</div>
<div class="row">
<table class="ResulsTable table table-striped" style="padding-top:20px;    min-height: 100px;">

</table>
</div>
<button id="submitBtn" type="submit" class="btn btn-primary" style="width:50%; margin-inline: auto;">Submit</button>
<div class="submitResult">



</div>

<script>
// $("#container").on('click-row.bs.table', function (e, row, $element) {
//     window.location = $element.data('href');
// });

jQuery(document).ready(function($) {
    $(".cmbx_cars").change(function() {
      $(".submitResult").html("")
        var optionValue =$(".cmbx_cars").val();
         if (optionValue) {
      $.ajax({
          type:    "POST",
          url:     "/driversandcars/select_car",
          data:    {optionValue: optionValue },
          success: function(data){
            var links=data.links 
            if(links.length!=0)
            {
                $(".ResulsTable").html("<tr><th>id</th><th>name</th><th>created_at</th></tr>")
                for (index = 0; index < links.length; index++) {
                    $(".ResulsTable tr:last").after("<tr><tr><td>" + links[index].driver_id + "</td> <td>" + data.drivers[index] +  "</td> <td>" +  links[index].created_at + "</td> </tr>");
                }
            }
            else 
            {
              $(".ResulsTable").html("No drivers connected to this car")
            }

          },
          error:   function(post){ console.log(this) }
        });
    }
    });

    $(".cmbx_drivers").change(function() {
      $(".submitResult").html("")
        var optionValue =$(".cmbx_drivers").val();
         if (optionValue) {
      $.ajax({
          type:    "POST",
          url:     "/driversandcars/select_driver",
          data:    {optionValue: optionValue },
          success: function(data){
            var links=data.links 
            if(links.length!=0)
            {
                        $(".ResulsTable").html("<tr><th>id</th><th>title</th><th>created_at</th></tr>")
                            for (index = 0; index < links.length; index++) {
        $(".ResulsTable tr:last").after("<tr><td>" + links[index].car_id + "</td> <td>" + data.cars[index] +  "</td> <td>" +  links[index].created_at + "</td> </tr>");
    }
            }
            else{
              $(".ResulsTable").html("No cars connected to this driver")

            }

          },
          error:   function(post){ console.log(this) }
        });
    }
    });


    $("#submitBtn").click(function() {
 var car =$(".cmbx_cars").val();
  var driver =$(".cmbx_drivers").val();

         if (car&driver) {
            $.ajax({
                type:    "POST",
                url:     "/driversandcars/submit",
                   data:    {car: car,driver:driver },
                success: function(data){ 

                   alert(data.text);
  //location.reload();
                  
                  console.log(data.text);
                   },
                error:   function(post){ console.log(this) }
                });
         }
    });
});
</script>