// Place all the styles related to the Car controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.mb-auto {
    margin-bottom: 140px !important;
}
.card-body{
    color:black
}
.card-text{
    font-size: 22px;

}